*{
    padding: 0;
    margin: 0;
    /* outline: red solid 1px; */
    box-sizing: border-box;
}

.landingNav{
    /* height: 40px; */
    width: 100%;
    position: fixed;
    z-index: 5;
    /* display: grid; */
    display: flex;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(35, 74, 126);
}
.logoimg{
    padding: 30px 50px;
    width: 50%;
}
.part2nav{
    width: 50%;
    position: relative;
}
.bluetopNav{
    background-color: rgb(175, 233, 233);
    display: flex;
    width: 100%;
    /* position: absolute; */
    gap: 20px;
    padding: 5px 20px !important;
    border-radius: 0 0 0 20px;
}
.bluetopNav p{
    margin: 0;
    font-size: 14px;
}


.meganavbar {
    overflow: hidden;
    width: 100%;
    padding: 1px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .meganavbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .megadropdown {
    float: left;
    overflow: hidden;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    height: 73vh;
    box-shadow: 0px 20px 50px 0px black;
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  .megadropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropNavContent{
    color: white;
    font-size: 14px;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    /* float: left; */
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.slash{
    color: orange;
    margin: 0;
}
.browserIcons a{
    color: white;
}
.browserIcons a:hover{
    color: orange;
}
.donate{
    margin: 0;
    font-size: 14px;
    background-color: orange;
    color: white;
    border: 0;
    padding: 10px 20px;
}
/* -----------------SEC 1--------------- */
.sec1 .carousel-item{
  width: 100%;
  margin-top: -230px ;
  height: 950px;
  position: relative;
}
.sec1 .carousel-item img{
  
}
.textOnCaro{
  position: absolute;
  z-index: 3 !important;
  top: 55%;
  left: 30%;
  width: 500px;
  color: white;
}
.textOnCaro h1{
  font-size: 70px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textOnCaro p{
  font-weight: bold;
  font-size: 22px;
}
.textOnCaro button{
  font-weight: bold;
  background-color: orange;
  color: white;
  transition: 300ms;
  padding: 10px 20px;
  border: none;
}
.textOnCaro button:hover{
  background-color: rgb(118, 160, 160);
}
.caroprevbtn{
  position: absolute !important;
  top: -200px;
  left: 20px;
  top: 40%;
}
.caronextbtn{
  position: absolute !important;
  right: 20px;
  top: 40%;
  /* z-index: 3; */
}

/* ------------SEC2----------------- */
.sec2{
  background-image: linear-gradient(rgba(35, 74, 126, 0.800), rgba(35, 74, 126, 0.800)), url(./media/water.jpg);
  width: 100%;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
}
.sec2 div{
  color: white;
  text-align: center;
  width:50%;
}
.sec2 div p{
  text-align: justify;
} 
.sec3{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3Container{
  width: 55%;
  border-radius: 5px;
  margin-top: 30px;
}
.sec3Container nav{
  background-color: rgb(235, 234, 234);
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sec3Container{
  border: rgb(235, 234, 234) solid 1px;
}
.sec3Container .cardCon{
  display: grid;
  padding: 20px;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  .sec3Container .cardCon .card{
    /* width: 20%; */
  }
.sec3Container .cardCon img{
  height: 200px;
}
.sec3Container .cardCon .card h5{
  color: rgb(35, 74, 126);
}